<launch>

	<arg name="port" default="8888" />

	<node pkg="rosbag" type="play" name="rosbag" output="screen" args="-l $(find zethus_publisher)/rosbags/pointcloud_turtlebot.bag" >
		<remap from="/camera/depth/points" to="/pointcloud2" />
	</node>
	
	<node pkg="web_video_server" type="web_video_server" name="web_video_server_node" >
		<param name="port" value="$(arg port)"/>
	</node>

	<node pkg="depthcloud_encoder" type="depthcloud_encoder_node" name="depthcloud_encoder_node">
		<param name="depth" value="/camera/depth/image_raw"/>
		<param name="rgb" value="/camera/rgb/image_raw"/>
	</node>	

	<node pkg="point_cloud_converter" name="point_cloud_converter" type="point_cloud_converter_node" >	
		<remap from="points2_in" to="/pointcloud2" />
		<remap from="points_out" to="/pointcloud" />	
	</node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="pointcloud_transform_to_world_broadcaster" args="0 0 0 0 0 -1.5707 world camera_depth_optical_frame" >
	</node>

</launch>
