<!-- -*- mode: XML -*- -->
<launch>
  <!-- Set true to launch websocket_server -->
  <arg name="start_webserver" default="false" />
  <arg name="webserver_port" default="9090" />
  <arg name="pcl_port" default="8888" />

  <!-- Launch rosbridge server -->
  <include if="$(arg start_webserver)" file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="$(arg webserver_port)" />
  </include>

  <node name="zethus_backend_marker_publisher" pkg="zethus_publisher" type="markers_demo.py" respawn="false"/>
  <node name="zethus_backend_sensor_publisher" pkg="zethus_publisher" type="sensor_msgs_publisher.py" respawn="false"/>
  <node name="zethus_backend_geometry_publisher" pkg="zethus_publisher" type="geometry_msgs_publisher.py" respawn="false"/>
  <node name="zethus_backend_nav_publisher" pkg="zethus_publisher" type="nav_msgs_publisher.py" respawn="false"/>
  <include file="$(find zethus_publisher)/launch/point_cloud_publisher.launch">
    <arg name="port" value="$(arg pcl_port)" />
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_polygon_transform_broadcaster" args="0.5 -0.5 0 0 0 0 world polygon_frame" >
  </node>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find franka_description)/robots/panda_arm_hand.urdf.xacro'" />  

  <node pkg="rosbag" type="play" name="zethus_backend_robot_tf_publisher" output="screen" args="-l $(find zethus_publisher)/rosbags/panda_moveit_config_tf.bag" />

  <node pkg="rosbag" type="play" name="zethus_backend_odometry_publisher" output="screen" 
    args="-l $(find zethus_publisher)/rosbags/odom_posearray_path.bag">
    <remap from="/tricycle_drive_controller/odom" to="/odom_rosbag"/>
    <remap from="/diff_drive/move_base/TebLocalPlannerROS/local_plan" to="/path_rosbag"/> 
    <remap from="/diff_drive/move_base/TebLocalPlannerROS/teb_poses" to="/pose_array_rosbag"/>
  </node>

  <node pkg="tf2_ros"
        type="static_transform_publisher"
        name="odom_to_map"
        args="0 0 0 0 0 0 map odom"/>
  <node pkg="tf2_ros"
        type="static_transform_publisher"
        name="map_to_world"
        args="-6 -6 0 0 0 0 world map"/>
</launch>
